/* src/styles/GaltonBoard.css */
.galton-board-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(135deg, #1e1e1e, #2c3e50);
    color: lightsteelblue;
    min-height: 80vh; /* Limita el contenedor a un 80% de la altura de la pantalla */
    max-height: 90vh; /* Máximo de altura para evitar que llegue demasiado abajo */
    width: auto;
    height: auto;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.galton-board-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
}

.galton-board-button {
    padding: 12px 24px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #ffc107, #ff9800);
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.galton-board-button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.galton-board-button:hover:enabled {
    background: linear-gradient(135deg, #e0a800, #f57c00);
    transform: translateY(-2px);
}

.galton-board-scene {
    width: 800px;
    height: 800px;
    background-color: #222222;
    border: 2px solid #333;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}


.galton-board-distribution {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.galton-board-distribution-number {
    width: 50px;
    text-align: center;
    margin: 0 2.5px;
    color: #ffffff;
    font-size: 1rem;
}

.galton-board-backend {
    margin-left: 50px;
}

